site_name: hydrodatasource
site_description: A python project to deal with internal datasources
site_author: iHeadWater
site_url: https://iHeadWater.github.io/hydrodatasource
repo_url: https://github.com/iHeadWater/hydrodatasource

copyright: "Copyright &copy; 2023 - 2025 iHeadWater"

theme:
    palette:
        - scheme: default
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
        - scheme: slate
          primary: indigo
          accent: indigo
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
    name: material
    icon:
        repo: fontawesome/brands/github
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.top
        - search.highlight
        - search.share
    font:
        text: Google Sans
        code: Regular

plugins:
    - search
    - mkdocstrings
    - include-markdown
    - git-revision-date
    - mkdocs-jupyter:
          include_source: True
          
markdown_extensions:
    - admonition
    - abbr
    - attr_list
    - def_list
    - footnotes
    - meta
    - md_in_html
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

nav:
    - Home: index.md
    - Guide:
        - Configuration: configs.md
        - Reader: reader.md
        - Processor: processor.md
        - Cleaner: cleaner.md
    - API Reference: api.md
    - Report Issues: https://github.com/iHeadWater/hydrodatasource/issues