geopandas
openpyxl==3.1
requests
tqdm
# for minio
boto3
minio
s3fs

kerchunk
xarray
zarr
dask
cfgrib
eccodes
netCDF4
h5py
wget

dataretrieval
pygeohydro

hydroutils
hydrodataset

black
black[jupyter]
pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine

pytest
pytest-runner