geopandas
openpyxl==3.1
xlrd
requests

kerchunk
cfgrib
eccodes
h5py
wget
chardet

intake

dataretrieval
pygeohydro

pykalman

hydrodataset

black
black[jupyter]
pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
psycopg2

pytest
pytest-runner
pytest_asyncio