name: build

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macOS-latest]
                python-version: ["3.10", "3.11", "3.12"]
                exclude:
                  - os: windows-latest
                    python-version: "3.10"
                  - os: windows-latest
                    python-version: "3.11"

        steps:
            - uses: actions/checkout@v4

            - name: Install uv
              uses: astral-sh/setup-uv@v4
              with:
                  version: "latest"

            - name: Setup Python
              run: uv python install ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                  uv sync --dev

            - name: Run tests
              run: |
                  uv run pytest -m "not internal_data"
