on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

name: macOS build
jobs:
    test-macOS:
        runs-on: ${{ matrix.os }}
        name: ${{ matrix.os }} (${{ matrix.python-version}})
        strategy:
            fail-fast: false
            matrix:
              os: ["macOS-latest"]
              python-version: ["3.10", "3.11", "3.12"]
        steps:
          - name: Checkout code
            uses: actions/checkout@v4
          - name: Install uv
            uses: astral-sh/setup-uv@v4
            with:
                version: "latest"
          - name: Setup Python
            run: uv python install ${{ matrix.python-version}}
          - name: Install GDAL
            run: |
              brew install gdal
          - name: Test GDAL installation
            run: |
              gdalinfo --version
          - name: Install dependencies
            run: |
                uv sync --dev
          - name: PKG-TEST
            run: |
                uv run python -m unittest discover tests/
