on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

name: Linux build
jobs:
    py-check:
        runs-on: ${{ matrix.config.os }}
        name: ${{ matrix.config.os }} (${{ matrix.config.py }})
        strategy:
            fail-fast: false
            matrix:
                config:
                    - { os: ubuntu-latest, py: "3.10" }
                    - { os: ubuntu-latest, py: "3.11" }
                    - { os: ubuntu-latest, py: "3.12" }
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v4
              with:
                  version: "latest"
            - name: Setup Python
              run: uv python install ${{ matrix.config.py }}
            - name: Install GDAL
              run: |
                  sudo apt-get update
                  sudo apt-get install -y gdal-bin libgdal-dev
                  export GDAL_VERSION=$(gdal-config --version)
                  uv add GDAL==$GDAL_VERSION
            - name: Test GDAL installation
              run: |
                  uv run python -c "from osgeo import gdal"
                  gdalinfo --version
            - name: Install dependencies
              run: |
                  uv sync --dev
            - name: PKG-TEST
              run: |
                  uv run python -m unittest discover tests/

