on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

name: Windows build
jobs:
    test-windows:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v4
              with:
                  version: "latest"
            - name: Setup Python
              run: uv python install 3.12
            - name: Install miniconda
              uses: conda-incubator/setup-miniconda@v2
              with:
                  auto-activate-base: true
                  python-version: "3.12"
            - name: Install GDAL
              run: |
                  conda install -c conda-forge gdal --yes
              shell: bash -l {0}
            - name: Test GDAL installation
              run: |
                  uv run python -c "from osgeo import gdal"
                  gdalinfo --version
              shell: bash -l {0}
            - name: Install dependencies
              run: |
                  uv sync --dev
            - name: PKG-TEST
              run: |
                  uv run python -m unittest discover tests/
